body {
	margin: 0;
}

* {
	font-family: "Aleo", serif;
	color: white;
	overflow: hidden;
}

a {
	color: #8fa5da;
}

button {
	all: unset;
	border: #8fa5da solid 2px;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	cursor: pointer;
	color: white;

	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: #8fa6da7e;
	}
}

.main {
	position: absolute;
	inset: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("data:image/svg+xml,%3Csvg%20width%3D%222253%22%20height%3D%221535%22%20viewBox%3D%220%200%202253%201535%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_13_59)%22%3E%0A%3Crect%20width%3D%222253%22%20height%3D%221535%22%20fill%3D%22white%22%2F%3E%0A%3Cg%20clip-path%3D%22url(%23clip1_13_59)%22%3E%0A%3Crect%20width%3D%223590.6%22%20height%3D%222363.59%22%20transform%3D%22translate(-1376%20465.308)%20rotate(-20.5657)%22%20fill%3D%22%233165E3%22%2F%3E%0A%3Cpath%20d%3D%22M-1660.49%20-292.933C-1539.21%20-282.02%20-1180.62%20-234.848%20-932.835%20-227.453C-685.047%20-220.058%20-426.782%20-241.527%20-173.756%20-248.564C79.2704%20-255.601%20313.62%20-255.63%20585.323%20-269.675C857.026%20-283.719%201198.2%20-311.36%201456.46%20-332.829C1714.73%20-354.298%202021.84%20-387.544%202134.91%20-398.487L2816.05%201416.96L-545.715%202678.27L-1660.49%20-292.933Z%22%20fill%3D%22url(%23paint0_linear_13_59)%22%2F%3E%0A%3Cpath%20d%3D%22M-1691.26%20-374.944C-1599.01%20-384.616%20-1354.39%20-414.05%20-1137.78%20-432.977C-921.173%20-451.904%20-602.983%20-484.011%20-391.614%20-488.507C-180.245%20-493.002%20-62.2584%20-462.461%20130.434%20-459.949C323.126%20-457.437%20534.495%20-461.933%20764.541%20-473.435C994.586%20-484.938%201285.9%20-531.894%201510.71%20-528.965C1735.51%20-526.036%202012.94%20-468.044%202113.38%20-455.86L2816.05%201416.96L-545.715%202678.27L-1691.26%20-374.944Z%22%20fill%3D%22url(%23paint1_linear_13_59)%22%2F%3E%0A%3Cpath%20d%3D%22M-1568.27%20-47.1471C-1448.89%20-41.2858%20-1050.44%20-1.42841%20-851.991%20-11.9796C-653.547%20-22.5307%20-562.611%20-92.4783%20-377.605%20-110.454C-192.599%20-128.43%2019.2832%20-131.556%20258.042%20-119.834C496.802%20-108.111%20843.068%20-36.9923%201054.95%20-40.1189C1266.83%20-43.2455%201330.89%20-128.042%201529.34%20-138.593C1727.78%20-149.145%202126.24%20-109.287%202245.62%20-103.426L2816.05%201416.96L-545.715%202678.27L-1568.27%20-47.1471Z%22%20fill%3D%22url(%23paint2_linear_13_59)%22%2F%3E%0A%3Cpath%20d%3D%22M-1599.04%20-129.158C-1506.28%20-137.461%20-1241.44%20-169.796%20-1042.48%20-178.979C-843.524%20-188.161%20-617.689%20-182.494%20-405.293%20-184.252C-192.897%20-186.01%20-7.37824%20-202.617%20231.895%20-189.526C471.167%20-176.434%20791.071%20-118.796%201030.34%20-105.705C1269.62%20-92.6133%201468.57%20-101.796%201667.53%20-110.978C1866.49%20-120.161%202131.33%20-152.496%202224.09%20-160.799L2816.05%201416.96L-545.715%202678.27L-1599.04%20-129.158Z%22%20fill%3D%22%23427AFF%22%2F%3E%0A%3Cpath%20d%3D%22M-1552.93%2063.7352C-1466.92%2078.0003%20-1224.61%20164.091%20-1036.88%20149.326C-849.145%20134.56%20-609.033%20-24.5232%20-426.539%20-24.8567C-244.045%20-25.1903%20-132.608%20125.802%2058.086%20147.325C248.78%20168.847%20524.657%20133.478%20717.627%20104.28C910.597%2075.0833%201033.41%20-27.5248%201215.91%20-27.8583C1398.4%20-28.1918%201635.33%2088.1811%201812.59%20102.279C1989.85%20116.378%202201.63%2064.3228%202279.44%2056.7315L2816.05%201486.96L-545.715%202748.27L-1552.93%2063.7352Z%22%20fill%3D%22%233B73F5%22%2F%3E%0A%3Cpath%20d%3D%22M-1506.82%20276.628C-1420.59%20291.48%20-1167.14%20350.467%20-989.448%20365.738C-811.752%20381.01%20-642.256%20374.425%20-440.646%20368.257C-239.035%20362.09%2045.4815%20349.75%20220.215%20328.733C394.949%20307.716%20433.023%20263.174%20607.757%20242.157C782.49%20221.141%201067.01%20208.801%201268.62%20202.633C1470.23%20196.465%201639.72%20189.881%201817.42%20205.152C1995.12%20220.424%202248.56%20279.411%202334.79%20294.262L2816.05%201576.96L-545.715%202838.27L-1506.82%20276.628Z%22%20fill%3D%22%233668DD%22%2F%3E%0A%3Cpath%20d%3D%22M-1380%20424.308C-1246.4%20411.286%20-829.886%20328.922%20-578.4%20346.172C-326.914%20363.422%20-117.332%20496.126%20128.915%20527.808C375.163%20559.49%20631.887%20562.308%20899.087%20536.262C1166.29%20510.217%201470.15%20383.149%201732.12%20371.535C1994.08%20359.921%202347.74%20450.739%202470.86%20466.58L2819.89%201396.84L-541.88%202658.15L-1380%20424.308Z%22%20fill%3D%22%232958C7%22%2F%3E%0A%3Cpath%20d%3D%22M-1414.61%20482.414C-1347.62%20476.383%20-1178.8%20457.874%20-1012.72%20446.23C-846.647%20434.586%20-597.665%20416.77%20-418.151%20412.55C-238.637%20408.331%20-96.4756%20418.126%2064.3621%20420.914C225.2%20423.702%20386.037%20426.49%20546.875%20429.278C707.713%20432.066%20860.35%20412.997%201029.39%20437.641C1198.43%20462.286%201410.74%20545.492%201561.1%20577.143C1711.46%20608.795%201784.16%20632.187%201931.56%20627.551C2078.96%20622.914%202359.84%20562.361%202445.5%20549.323L2816.05%201536.96L-545.715%202798.27L-1414.61%20482.414Z%22%20fill%3D%22%231F4AB1%22%2F%3E%0A%3Cpath%20d%3D%22M-1291.62%20630.211C-1157.4%20618.83%20-730.839%20563.251%20-486.32%20561.929C-241.802%20560.608%20-71.9903%20587.315%20175.49%20622.282C422.97%20657.249%20713.728%20750.778%20998.562%20771.73C1283.39%20792.682%201621.3%20756.324%201884.49%20747.996C2147.68%20739.667%202462.19%20726.131%202577.73%20721.758L2816.05%201356.96L-545.715%202618.27L-1291.62%20630.211Z%22%20fill%3D%22%231D429A%22%2F%3E%0A%3Cpath%20d%3D%22M-1322.39%20723.2C-1198.34%20741.505%20-850.11%20817.858%20-578.098%20833.028C-306.087%20848.198%2032.4296%20813.483%20309.679%20814.221C586.928%20814.959%20826.824%20829.712%201085.4%20837.458C1343.97%20845.204%201615.98%20860.374%201861.12%20860.695C2106.25%20861.016%202440.36%20842.936%202556.2%20839.384L2816.05%201531.96L-545.715%202793.27L-1322.39%20723.2Z%22%20fill%3D%22%23132C69%22%2F%3E%0A%3Cpath%20d%3D%22M-1199.4%20955.997C-1086.17%20945.476%20-722.553%20892.477%20-520.001%20892.876C-317.448%20893.275%20-200.078%20950.567%2015.9131%20958.39C231.904%20966.213%20541.277%20939.001%20775.945%20939.817C1010.61%20940.633%201218.4%20926.6%201423.92%20963.287C1629.43%20999.974%201798.28%201137.68%202009.03%201159.94C2219.79%201182.19%202575.2%201107.34%202688.43%201096.82L2816.05%201436.96L-545.715%202698.27L-1199.4%20955.997Z%22%20fill%3D%22%230E255B%22%2F%3E%0A%3Cpath%20d%3D%22M-1153.29%201048.89C-1018.15%201039.97%20-615.693%20976.935%20-342.449%20995.39C-69.2052%201013.85%20245.04%201141.58%20486.169%201159.62C727.298%201177.66%20844.519%201092.59%201104.32%201103.62C1364.13%201114.65%201771.76%201207.35%202045%201225.8C2318.24%201244.26%202627.32%201216.26%202743.79%201214.35L2816.05%201406.96L-545.715%202668.27L-1153.29%201048.89Z%22%20fill%3D%22%2307173E%22%2F%3E%0A%3Cpath%20d%3D%22M-1107.18%201191.78C-993.438%201182.63%20-628.282%201133.74%20-424.702%201136.87C-221.123%201140.01%20-110.926%201178.18%20114.293%201210.6C339.511%201243.02%20682.713%201305.97%20926.607%201331.38C1170.5%201356.79%201368.84%201374.36%201577.66%201363.06C1786.48%201351.77%201975.93%201260.47%202179.51%201263.61C2383.09%201266.74%202695.87%201362.17%202799.14%201381.88L2816.05%201426.96L-545.715%202688.27L-1107.18%201191.78Z%22%20fill%3D%22%2307122C%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_13_59%22%20x1%3D%2220.3971%22%20y1%3D%22-923.587%22%20x2%3D%221135.17%22%20y2%3D%222047.61%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23020803%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint1_linear_13_59%22%20x1%3D%22-10.3725%22%20y1%3D%22-1005.6%22%20x2%3D%221135.17%22%20y2%3D%222047.61%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%2330D998%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint2_linear_13_59%22%20x1%3D%22112.614%22%20y1%3D%22-677.801%22%20x2%3D%221135.17%22%20y2%3D%222047.61%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%2330D6D9%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3CclipPath%20id%3D%22clip0_13_59%22%3E%0A%3Crect%20width%3D%222253%22%20height%3D%221535%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3CclipPath%20id%3D%22clip1_13_59%22%3E%0A%3Crect%20width%3D%223590.6%22%20height%3D%222363.59%22%20fill%3D%22white%22%20transform%3D%22translate(-1376%20465.308)%20rotate(-20.5657)%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A");
	background-repeat: no-repeat;
}

.content {
	position: absolute;
	inset: 0;

	transition: all 1s ease-in-out;
	overflow: visible;

	.background {
		position: absolute;
		left: -85vw;
		top: -85vh;

		svg {
			@media (orientation: landscape) {
				width: 270vw;
				height: auto;
			}
			@media (orientation: portrait) {
				width: auto;
				height: 270vh;
			}
		}
	}

	.page {
		position: absolute;
		height: 70vh;
		width: 70vw;
	}

	> .center {
		left: 15vw;
		top: 15vh;

		.content {
			h1 {
				font-size: min(5vw, 2rem);
			}
			h2 {
				font-size: min(4vw, 1.5rem);
			}

			@media (orientation: portrait) {
				margin-bottom: 40vh;
			}
		}
	}

	> .right {
		right: -70vw;
		top: 15vh;
	}

	> .top {
		left: 15vw;
		top: -70vh;
	}

	> .left {
		left: -70vw;
		top: 15vh;
	}

	> .bottom {
		left: 15vw;
		bottom: -70vh;
	}

	.buttons {
		position: absolute;
		width: 100%;
		height: 100%;

		div {
			position: absolute;
			overflow: visible;

			p {
				text-align: center;
			}

			svg {
				cursor: pointer;
				scale: 1.5;
				transition: all 0.5s ease-in-out;
				max-width: 10vw;
				padding: 0.5rem;

				path {
					stroke-dasharray: 0, 184, 100;
					transition: all 0.5s ease-in-out;
				}

				filter: drop-shadow(0px 0px 0px #dbe7ff);

				&:hover {
					path {
						stroke-dashoffset: 184;
					}
					scale: 1.7;
					filter: drop-shadow(0px 0px 2px #dbe7ff);
				}
			}

			&.right {
				right: 10vw;
				top: 50%;
				transform: translateY(-50%);

				&.backwards {
					svg {
						rotate: 180deg;
					}
				}
			}
			&.left {
				left: 10vw;
				top: 50%;
				transform: translateY(-50%);

				svg {
					rotate: 180deg;
				}

				&.backwards {
					svg {
						rotate: 0deg;
					}
				}
			}
			&.top {
				top: 5vh;
				right: 50%;
				transform: translateX(50%);

				svg {
					rotate: 270deg;
				}

				&.backwards {
					svg {
						rotate: 90deg;
					}
				}
			}
			&.bottom {
				right: 50%;
				bottom: 2vh;
				@media (orientation: portrait) {
					bottom: 10vh;
				}
				transform: translateX(50%);

				svg {
					rotate: 90deg;
				}

				&.backwards {
					svg {
						rotate: 270deg;
					}
				}
			}
		}
	}

	.content {
		width: fit-content;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		margin: auto;

		h1 {
			text-align: left;
			white-space: pre-wrap;
			margin: 0;
		}

		h3 {
			white-space: pre-wrap;
		}

		.code {
			color: rgba(255, 255, 255, 0.589);
		}

		.blinking {
			animation: blink 1s infinite;

			display: inline;
		}
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	49% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	99% {
		opacity: 0;
	}
}
